html, body {
  margin: 10 px;
  padding: 0;
  background-color: #F2E5CD
}
h1{}

canvas {
  display: block;
  margin: auto;
}

div{}
  
.title{
  padding: 10 px;
  letter-spacing:15 px;
  font-size: 170%;
  text-align: CENTER;
  margin: auto;
  border: 5px, solid, green;
  
}
.userinterface{
  padding: 10 px;
  letter-spacing:15 px;
  text-align: CENTER;
  margin: auto;
  border: 5px, solid, green;
}

#canvoid{
  padding: 10 px;
  text-align: center;
  margin: auto
}

button{
  background-color: #F2E5CD;
  color: #47564C;
  border-style: ridge
}

#buttoid{
  border: 1px solid #2E4937;
  padding: 5 px;
  margin: auto;
}

#directions{
  border: 5 px solid yellow;
  text-align: center
}

#artist-statement{
  border: 2 px solid magenta;
    text-align: center
}
